body{
    overflow: hidden;
}
h2{
    
    text-align:center; 
    color:#4a9635;
    margin-top:50px;
    margin-bottom:40px;
}
#adminsideeditprofilesubmit{
    background-color:#5FB946; 
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    
}
#adminsideeditprofilesubmit:hover{
    
    opacity: 80%;
}

form{
    border-radius:10px; 
    background-color:#fafafa;
    margin-left: 35%; 
    margin-right:35%; 
    margin-bottom:10px;
}
#adminsideeditprofilesubmit:disabled{
    opacity:70%;
}
