form {

    margin-left:41%; 
    margin-right: 41%;
    margin-top:30px;
    background-color:#fafafa;
    border-radius: 20px;
}

input[type=password]{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:15px;
}

#changepasswordbutton{
  background-color:#4a9635; 
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:10px;
}
#changepasswordbutton:hover {
  opacity:80%;
}

#changepasswordbutton:disabled{
    opacity:70%;
}
.container{
    padding:20px 30px 20px 30px;
  
}
h1{
    text-align: center;
    margin-top:75px;
}
p{
    text-align: center;
    color: red;
    margin-top: 20px;
}