/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2021, 6:19:38 PM
    Author     : dharm
*/

table {
              width:100%;
              
            }
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
              text-align: left;
            }
           
          
            table#t01 th {
              background-color: #4a9635;
              color: white;
            }

            #table{
    margin-left: 280px; 
    margin-right:20px;
}


h1{
    text-align:center
}
h3{
    text-align:center;
    color:red;
}
h2{
   margin-left:10px;
}
#due{
    color:red;
}

#t01{
    margin-bottom: 20px;
}
.btn {
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: black; color:white;} /* Gray */ 
.default:hover {background: #2e302e;}
 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-left:15px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 12px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 12px;

}
